/** restaurant page => menu animation**/

@keyframes appear {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes moving {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0px);
  }
}

/** homepage => loading animation with overlay**/

@keyframes overlay {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

@keyframes loaderstarter {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes loaderinside {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
