/***************************Animations***************************/
/** restaurant => animation on menu**/
@keyframes moving {
  from {
    transform: translateY(15px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

/** homepage => loading animation with overlay**/

/*make overlay disappear*/
@keyframes overlay {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
/* the 3 circles will rotate*/
@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
