/***************************Setting colors***************************/
//primary
$darkPurple: #9356dc;
//Secondary
$pink: #ff69da;
//Tertiary
$darkGreen: #087157;
//other
$white: #fcfcfa;
$backgroundLightgrey: #f3f3f0;
$backgroundDarkgrey: #e5e5e2;
$borderGrey: #dcdcd9;
$boxShadowGrey: #cccccc;
$darkGreyIcone: #716c6c;
$lightGreen: #99e2d0;
//Hover
$hoverLightPurple: #f1ecf8;
$hoverBoxShadowGrey: #adacac;
//gradient colors
$linearGradientTop: linear-gradient(to top, #9356dc, #ff69da);
$hoverLinearGradientTop: linear-gradient(to top, #9256dcd2, #ff69dac5);
