/**********************************************************************/
/*setting*/
/**********************************************************************/

/****************************setting fonts***************************/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

/****************************Setting page****************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  margin-block: 0;
  outline: none;
  font-family: "Shrikhand", cursive;
  font-family: "Roboto", sans-serif;
}

body {
  text-align: left;
  font-size: 18px;
  font-weight: 400;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/***************************Setting colors***************************/

/**************************setting text***************************/
h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 15px;
}
p {
  font-size: 14px;
  font-weight: 700;
}

/*************************Setting mixxin************************/

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin row {
  display: flex;
  flex-direction: row;
}

@mixin column {
  display: flex;
  flex-direction: column;
}

/*************************Text link**************************/
a,
a:visited {
  color: blue;
  text-decoration: none;
}
