/**********************************************************************/
/*footer*/
/**********************************************************************/
footer {
  text-align: left;
  background-color: #2b282b;
  padding: 30px 30px 50px 30px;

  .footer_wrapper {
    @include direction-column;
    gap: 12px;

    .flex_wrapper {
      @include direction-row;
      align-items: center;
      gap: 10px;
      transition: 0.4s ease-in-out;
      cursor: pointer;

      &:hover {
        .footer_text {
          color: $darkGreyIcone;
        }
        .footer_i {
          color: $darkGreyIcone;
        }
      }

      /*for align the 2 flex_wrapper*/
      .footer_i {
        width: 20px;
      }
    }

    .footer_text {
      transition: 0.4s ease-in-out;
      cursor: pointer;
      &:hover {
        color: $darkGreyIcone;
      }
    }
  }
}
