/**********************************************************************/
/*footer*/
/**********************************************************************/
footer {
  background-color: #2b282b;
  padding: 30px 30px 50px 30px;

  .footer_wrapper {
    @include direction-column;
    gap: 12px;

    .flex_wrapper {
      @include direction-row;
      gap: 10px;

      /*for align the 2 flex_wrapper*/
      .footer_i {
        width: 20px;
      }
    }
  }
}
