/**********************************************************************/
/*header*/
/**********************************************************************/
.header_container {
  @include center;
  @include shadow;
  position: relative;
  z-index: 1;
  gap: 66px;
  padding: 22px 0 12px 0;

  .title_img {
    width: 165px;

    /***************media => desktop*************/
    @media screen and (min-width: $breakup-desktop) {
      width: 250px;
    }
    /***********************************************/
  }
}
