/**********************************************************************/
/*header*/
/**********************************************************************/
.header_container {
  @include center;
  gap: 66px;
  margin: 22px 0 12px 0;

  .title_img {
    width: 165px;

    /***************media => desktop*************/
    @media screen and (min-width: $breakup-desktop) {
      width: 250px;
    }
    /***********************************************/
  }
}
