.main_restaurant {
  position: relative;
  background-color: $backgroundLightgrey;

  /***************media => desktop*************/
  @media screen and (min-width: $breakup-desktop) {
    padding-bottom: 50px;
  }
  /*******************************************/

  .restaurant_image {
    width: 100%;
    height: 255px;

    /***************media => desktop*************/
    @media screen and (min-width: $breakup-desktop) {
      height: 400px;
    }
    /*******************************************/
    .restaurant_img {
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 255px;
      left: 0px;
      top: 0px;

      /***************media => desktop*************/
      @media screen and (min-width: $breakup-desktop) {
        height: 400px;
      }
      /*******************************************/
    }
  }

  .menu_container {
    position: relative;
    z-index: 2;
    text-align: left;
    width: 100%;
    background-color: $backgroundLightgrey;
    border-radius: 20px 20px 0 0;
    padding: 40px 5% 0 5%;
    top: -50px;

    /***************media => desktop*************/
    @media screen and (min-width: $breakup-desktop) {
      top: -20px;
    }
    /********************************************/

    .title_wrapper {
      @include direction-row;
      align-items: center;
      justify-content: space-between;
      padding-right: 20px;
      @include heart-animation;
    }
    .title_menu {
      position: relative;
      &:after {
        position: absolute;
        content: "";
        width: 40px;
        height: 4px;
        background: $lightGreen;
        left: 0px;
        top: 22px;
      }
    }
    .food_container {
      @include direction-column;
      gap: 11px;
      padding: 20px 0;

      /***************media => desktop*************/
      @media screen and (min-width: $breakup-desktop) {
        @include direction-row;
        gap: 20px;
        justify-content: center;
        margin: 0 auto;
      }
      /*******************************************/

      .menu_card {
        position: relative;
        @include center;
        @include shadow;
        justify-content: space-between;
        overflow: hidden;
        height: 68px;
        border-radius: 15px;
        background-color: $white;
        padding: 0 15px;
        cursor: pointer;
        transition: padding-right, box-shadow 0.6s ease-in-out; //for price moving and box-shadow
        transform: scale(0); // for animation  => nothing apear at launch

        /***************media => desktop*************/
        @media screen and (min-width: $breakup-desktop) {
          width: 33%;
        }
        /*******************************************/

        .text_wrapper {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          h3,
          p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .price {
          padding-left: 15px;
        }

        .check {
          position: absolute;
          @include center;
          width: 60px;
          height: 68px;
          right: -60px;
          border-radius: 0 15px 15px 0;
          background-color: $lightGreen;
          transition: 0.6s ease-in-out; //for check moving

          .circle {
            @include center;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            background-color: $white;
            color: $lightGreen;
            transform: rotate(360deg); //icone rotation
            transition: 0.6s ease-in-out; //for icone moving
          }
        }

        &:hover {
          @include hover-shadow;
          padding-right: 70px;

          .check {
            transform: translateX(-60px);
          }
          .circle {
            transform: rotate(0);
          }
        }
      }

      .delay01 {
        animation: appear 0.5s 0.1s forwards, moving 0.5s 0.3s forwards; // 0.5s => timing of animation, 0.1s => delay of animation, forwards => for keep the card at same position than end of keyframe
      }

      .delay02 {
        animation: appear 0.5s 0.2s forwards, moving 0.5s 0.4s forwards;
      }

      .delay03 {
        animation: appear 0.5s 0.3s forwards, moving 0.5s 0.5s forwards;
      }

      .delay04 {
        animation: appear 0.5s 0.4s forwards, moving 0.5s 0.6s forwards;
      }
      .delay05 {
        animation: appear 0.5s 0.5s forwards, moving 0.5s 0.7s forwards;
      }

      .delay06 {
        animation: appear 0.5s 0.6s forwards, moving 0.5s 0.8s forwards;
      }

      .delay07 {
        animation: appear 0.5s 0.7s forwards, moving 0.5s 0.9s forwards;
      }

      .delay08 {
        animation: appear 0.5s 0.8s forwards, moving 0.5s 1s forwards;
      }

      .delay09 {
        animation: appear 0.5s 0.9s forwards, moving 0.5s 1.1s forwards;
      }

      .delay10 {
        animation: appear 0.5 1s forwards, moving 0.5s 1.2s forwards;
      }
    }
  }
  .menu_button {
    @include center;
    @include button;
    @include shadow;
    width: 186px;
    margin-top: 20px;

    /***************media => desktop*************/
    @media screen and (min-width: $breakup-desktop) {
      width: 350px;
      height: 70px;
    }
    /***********************************************/
  }
}
