/**********************************************************************/
/*setting*/
/**********************************************************************/
/****************************setting fonts***************************/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/***************************Setting colors***************************/
/*change icone colors*/
.white {
  color: #fcfcfa;
}

/****************************Setting page****************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  margin-block: 0;
  outline: none;
  font-family: "Roboto", sans-serif;
}

body {
  max-width: 1400px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  background-color: #fcfcfa;
  margin: 0 auto;
}

/**************************setting text***************************/
h1 {
  font-size: 25px;
  font-weight: 700;
}

h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 3px;
}

h4 {
  font-family: "Shrikhand", cursive;
  font-size: 22px;
  color: #fcfcfa;
  letter-spacing: 1.5px;
  margin-bottom: 25px;
}

.restaurant_title {
  font-family: "Shrikhand", cursive;
  letter-spacing: 1.5px;
}

.title_menu {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
}

.text_bold {
  font-size: 16px;
  font-weight: 700;
}

.view_text {
  font-size: 18px;
  font-weight: 300;
  margin: 25px 0 30px 0;
}

.price {
  font-weight: 700;
}

.new_text {
  font-size: 15px;
  font-weight: 500;
}

.footer_text {
  font-size: 19px;
  font-weight: 400;
  color: #fcfcfa;
}

/*************************Setting mixxin************************/
/*************************Text link & img fit**************************/
a,
a:visited {
  color: black;
  text-decoration: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

/** restaurant page => menu animation**/
@keyframes appear {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes moving {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0px);
  }
}
/** homepage => loading animation with overlay**/
@keyframes overlay {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes loaderstarter {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loaderinside {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/**********************************************************************/
/*header*/
/**********************************************************************/
.header_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 66px;
  margin: 22px 0 12px 0;
}
.header_container .title_img {
  width: 165px;
  /***************media => desktop*************/
  /***********************************************/
}
@media screen and (min-width: 1000px) {
  .header_container .title_img {
    width: 250px;
  }
}

/**********************************************************************/
/*Menu*/
/**********************************************************************/
main {
  position: relative;
  z-index: 0;
  /*****Setting the page loading*****/
}
main .location_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  gap: 18px;
  background-color: #e5e5e2;
  border-top: 5px solid #dcdcd9;
}
main .view_container {
  margin: 0 auto;
  padding: 45px 5% 55px 5%;
  background-color: #f3f3f0;
}
main .view_container .title_homepage {
  padding: 0 20px;
}
main .view_container .button_homepage {
  color: #fcfcfa;
  font-size: 16px;
  font-weight: 500;
  width: 225px;
  height: 50px;
  border: none;
  border-radius: 50px;
  margin: 0 auto;
  box-shadow: 2px 5px 8px #dcdcd9;
  background: linear-gradient(to top, #9356dc, #ff69da);
  cursor: pointer;
  transition: 0.4s ease-in-out;
  box-shadow: 2px 5px 8px #cccccc;
  /***************media => desktop*************/
  /***********************************************/
}
main .view_container .button_homepage:hover {
  background: linear-gradient(to top, rgba(146, 86, 220, 0.8235294118), rgba(255, 105, 218, 0.7725490196));
  box-shadow: 2px 5px 8px #adacac;
}
@media screen and (min-width: 1000px) {
  main .view_container .button_homepage {
    width: 350px;
    height: 70px;
  }
}
main .functioning_container {
  text-align: left;
  width: 89%;
  margin: 0 auto;
  padding: 53px 0 70px 10px;
  /***************media => desktop*************/
  /***********************************************/
}
@media screen and (min-width: 1000px) {
  main .functioning_container {
    width: 95%;
  }
}
main .functioning_container .functioning_wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 33px;
  /***************media => desktop*************/
  /*********************************************/
}
@media screen and (min-width: 1000px) {
  main .functioning_container .functioning_wrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}
main .functioning_container .functioning_wrapper .functioning_card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 5px 8px #cccccc;
  justify-content: normal;
  gap: 24px;
  background-color: #f3f3f0;
  width: 100%;
  height: 75px;
  border-radius: 20px;
  padding-left: 35px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
main .functioning_container .functioning_wrapper .functioning_card .functioning_icone {
  color: #716c6c;
}
main .functioning_container .functioning_wrapper .functioning_card:hover {
  box-shadow: 2px 5px 8px #adacac;
  background-color: #f1ecf8;
}
main .functioning_container .functioning_wrapper .functioning_card:hover .functioning_icone {
  color: #9356dc;
}
main .functioning_container .functioning_wrapper .functioning_card .circle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  color: #f3f3f0;
  background-color: #9356dc;
  border-radius: 100%;
  transform: translateX(-45px);
}
main .restaurant_container {
  background-color: #f3f3f0;
  padding: 50px 0 63px 0;
}
main .restaurant_container .restaurant_card_wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 30px 0 0 0;
  /***************media => desktop*************/
  /***********************************************/
}
@media screen and (min-width: 1000px) {
  main .restaurant_container .restaurant_card_wrapper {
    display: flex;
    flex-direction: row;
    gap: 25px;
    width: 95%;
    margin: 0 auto;
  }
}
main .restaurant_container .restaurant_card_wrapper .restaurant_card {
  box-shadow: 2px 5px 8px #cccccc;
  position: relative;
  text-align: left;
  width: 90%;
  height: 250px;
  background-color: #fcfcfa;
  border-radius: 15px;
  margin: 0 auto;
}
main .restaurant_container .restaurant_card_wrapper .restaurant_card:hover {
  box-shadow: 2px 5px 8px #adacac;
}
main .restaurant_container .restaurant_card_wrapper .restaurant_card .new_card {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #087157;
  background-color: #99e2d0;
  border-radius: 4px;
  width: 80px;
  height: 28px;
  top: 15px;
  right: 15px;
}
main .restaurant_container .restaurant_card_wrapper .restaurant_card .restaurant_img {
  width: 100%;
  height: 175px;
  border-radius: 15px 15px 0 0;
}
main .restaurant_container .restaurant_card_wrapper .restaurant_card .card_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 14px 25px 0 15px;
}
main .restaurant_container .restaurant_card_wrapper .restaurant_card .card_wrapper .icone_wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
main .restaurant_container .restaurant_card_wrapper .restaurant_card .card_wrapper .icone_wrapper .emptyheart {
  position: absolute;
  opacity: 1;
  transition: 0.4s ease-in-out;
}
main .restaurant_container .restaurant_card_wrapper .restaurant_card .card_wrapper .icone_wrapper .fullheart {
  position: absolute;
  opacity: 0;
  transition: 0.4s ease-in-out;
}
main .restaurant_container .restaurant_card_wrapper .restaurant_card .card_wrapper .icone_wrapper:hover .fullheart {
  opacity: 1;
}
main .restaurant_container .restaurant_card_wrapper .restaurant_card .card_wrapper .icone_wrapper:hover .fullheart path {
  fill: url(#gradient);
}
main .restaurant_container .restaurant_card_wrapper .restaurant_card .card_wrapper .icone_wrapper:hover .emptyheart {
  opacity: 0;
}
main .loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
  top: -90px;
  background: rgba(254, 253, 253, 0.495);
  width: 100%;
  height: 150%;
  scale: 1;
  animation: overlay 50ms 2s forwards;
}
main .loader .loader_circle_starter {
  position: absolute;
  top: 492px;
  border: 5px solid #99e2d0;
  border-top: 5px solid #f3f3f0;
  border-radius: 50%;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  animation: loaderstarter 2.5s linear infinite;
}
main .loader .loader_circle {
  position: absolute;
  top: 500px;
  border: 5px solid #ff69da;
  border-top: 5px solid #f3f3f0;
  border-radius: 50%;
  margin: 0 auto;
  width: 44px;
  height: 44px;
  animation: loader 2.5s linear infinite;
}
main .loader .loader_circle_inside {
  position: absolute;
  top: 508px;
  border: 5px solid #9356dc;
  border-top: 5px solid #f3f3f0;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  animation: loaderinside 2.5s linear infinite;
}

.main_restaurant {
  position: relative;
  background-color: #f3f3f0;
  /***************media => desktop*************/
  /*******************************************/
}
@media screen and (min-width: 1000px) {
  .main_restaurant {
    padding-bottom: 50px;
  }
}
.main_restaurant .restaurant_image {
  width: 100%;
  height: 255px;
  /***************media => desktop*************/
  /*******************************************/
}
@media screen and (min-width: 1000px) {
  .main_restaurant .restaurant_image {
    height: 400px;
  }
}
.main_restaurant .restaurant_image .restaurant_img {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 255px;
  left: 0px;
  top: 0px;
  /***************media => desktop*************/
  /*******************************************/
}
@media screen and (min-width: 1000px) {
  .main_restaurant .restaurant_image .restaurant_img {
    height: 400px;
  }
}
.main_restaurant .menu_container {
  position: relative;
  z-index: 2;
  text-align: left;
  width: 100%;
  background-color: #f3f3f0;
  border-radius: 20px 20px 0 0;
  padding: 40px 5% 0 5%;
  top: -50px;
  /***************media => desktop*************/
  /********************************************/
}
@media screen and (min-width: 1000px) {
  .main_restaurant .menu_container {
    top: -20px;
  }
}
.main_restaurant .menu_container .title_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}
.main_restaurant .menu_container .title_wrapper .icone_wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.main_restaurant .menu_container .title_wrapper .icone_wrapper .emptyheart {
  position: absolute;
  opacity: 1;
  transition: 0.4s ease-in-out;
}
.main_restaurant .menu_container .title_wrapper .icone_wrapper .fullheart {
  position: absolute;
  opacity: 0;
  transition: 0.4s ease-in-out;
}
.main_restaurant .menu_container .title_wrapper .icone_wrapper:hover .fullheart {
  opacity: 1;
}
.main_restaurant .menu_container .title_wrapper .icone_wrapper:hover .fullheart path {
  fill: url(#gradient);
}
.main_restaurant .menu_container .title_wrapper .icone_wrapper:hover .emptyheart {
  opacity: 0;
}
.main_restaurant .menu_container .title_menu {
  position: relative;
}
.main_restaurant .menu_container .title_menu:after {
  position: absolute;
  content: "";
  width: 40px;
  height: 4px;
  background: #99e2d0;
  left: 0px;
  top: 22px;
}
.main_restaurant .menu_container .food_container {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 20px 0;
  /***************media => desktop*************/
  /*******************************************/
}
@media screen and (min-width: 1000px) {
  .main_restaurant .menu_container .food_container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
  }
}
.main_restaurant .menu_container .food_container .menu_card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 5px 8px #cccccc;
  justify-content: space-between;
  overflow: hidden;
  height: 68px;
  border-radius: 15px;
  background-color: #fcfcfa;
  padding: 0 15px;
  cursor: pointer;
  transition: padding-right 0.6s ease-in-out;
  transform: scale(0);
  /***************media => desktop*************/
  /*******************************************/
}
@media screen and (min-width: 1000px) {
  .main_restaurant .menu_container .food_container .menu_card {
    width: 33%;
  }
}
.main_restaurant .menu_container .food_container .menu_card .text_wrapper {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main_restaurant .menu_container .food_container .menu_card .text_wrapper h3,
.main_restaurant .menu_container .food_container .menu_card .text_wrapper p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main_restaurant .menu_container .food_container .menu_card .price {
  padding-left: 15px;
}
.main_restaurant .menu_container .food_container .menu_card .check {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 68px;
  right: -60px;
  border-radius: 0 15px 15px 0;
  background-color: #99e2d0;
  transition: 0.6s ease-in-out;
}
.main_restaurant .menu_container .food_container .menu_card .check .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #fcfcfa;
  color: #99e2d0;
  transform: rotate(360deg);
  transition: 0.6s ease-in-out;
}
.main_restaurant .menu_container .food_container .menu_card:hover {
  padding-right: 70px;
}
.main_restaurant .menu_container .food_container .menu_card:hover .check {
  transform: translateX(-60px);
}
.main_restaurant .menu_container .food_container .menu_card:hover .circle {
  transform: rotate(0);
}
.main_restaurant .menu_container .food_container .delay01 {
  animation: appear 0.5s 0.1s forwards, moving 0.5s 0.3s forwards;
}
.main_restaurant .menu_container .food_container .delay02 {
  animation: appear 0.5s 0.2s forwards, moving 0.5s 0.4s forwards;
}
.main_restaurant .menu_container .food_container .delay03 {
  animation: appear 0.5s 0.3s forwards, moving 0.5s 0.5s forwards;
}
.main_restaurant .menu_container .food_container .delay04 {
  animation: appear 0.5s 0.4s forwards, moving 0.5s 0.6s forwards;
}
.main_restaurant .menu_container .food_container .delay05 {
  animation: appear 0.5s 0.5s forwards, moving 0.5s 0.7s forwards;
}
.main_restaurant .menu_container .food_container .delay06 {
  animation: appear 0.5s 0.6s forwards, moving 0.5s 0.8s forwards;
}
.main_restaurant .menu_container .food_container .delay07 {
  animation: appear 0.5s 0.7s forwards, moving 0.5s 0.9s forwards;
}
.main_restaurant .menu_container .food_container .delay08 {
  animation: appear 0.5s 0.8s forwards, moving 0.5s 1s forwards;
}
.main_restaurant .menu_container .food_container .delay09 {
  animation: appear 0.5s 0.9s forwards, moving 0.5s 1.1s forwards;
}
.main_restaurant .menu_container .food_container .delay10 {
  animation: appear 0.5 1s forwards, moving 0.5s 1.2s forwards;
}
.main_restaurant .menu_button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fcfcfa;
  font-size: 16px;
  font-weight: 500;
  width: 225px;
  height: 50px;
  border: none;
  border-radius: 50px;
  margin: 0 auto;
  box-shadow: 2px 5px 8px #dcdcd9;
  background: linear-gradient(to top, #9356dc, #ff69da);
  cursor: pointer;
  transition: 0.4s ease-in-out;
  box-shadow: 2px 5px 8px #cccccc;
  width: 186px;
  margin-top: 20px;
  /***************media => desktop*************/
  /***********************************************/
}
.main_restaurant .menu_button:hover {
  background: linear-gradient(to top, rgba(146, 86, 220, 0.8235294118), rgba(255, 105, 218, 0.7725490196));
  box-shadow: 2px 5px 8px #adacac;
}
@media screen and (min-width: 1000px) {
  .main_restaurant .menu_button {
    width: 350px;
    height: 70px;
  }
}

/**********************************************************************/
/*footer*/
/**********************************************************************/
footer {
  text-align: left;
  background-color: #2b282b;
  padding: 30px 30px 50px 30px;
}
footer .footer_wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
footer .footer_wrapper .flex_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  /*for align the 2 flex_wrapper*/
}
footer .footer_wrapper .flex_wrapper:hover .footer_text {
  color: #716c6c;
}
footer .footer_wrapper .flex_wrapper:hover .footer_i {
  color: #716c6c;
}
footer .footer_wrapper .flex_wrapper .footer_i {
  width: 20px;
}
footer .footer_wrapper .footer_text {
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
footer .footer_wrapper .footer_text:hover {
  color: #716c6c;
}/*# sourceMappingURL=index.css.map */