/**********************************************************************/
/*setting*/
/**********************************************************************/
/****************************setting fonts***************************/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/***************************Setting colors***************************/
/*change icone colors*/
.white {
  color: #fcfcfa;
}

/****************************Setting page****************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  margin-block: 0;
  outline: none;
  font-family: "Roboto", sans-serif;
}

body {
  max-width: 1400px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  background-color: #fcfcfa;
}

/**************************setting text***************************/
h1 {
  font-size: 25px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 3px;
}

h4 {
  font-family: "Shrikhand", cursive;
  font-size: 22px;
  color: #fcfcfa;
  letter-spacing: 1.5px;
  margin-bottom: 25px;
}

.restaurant_title {
  font-family: "Shrikhand", cursive;
  letter-spacing: 1.5px;
}

.title_menu {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
}

.text_bold {
  font-size: 16px;
  font-weight: 700;
}

.view_text {
  font-size: 18px;
  font-weight: 300;
  margin: 25px 0 30px 0;
}

.new_text {
  font-size: 15px;
  font-weight: 500;
}

.footer_text {
  font-size: 19px;
  font-weight: 400;
  color: #fcfcfa;
}

/*************************Setting mixxin************************/
/*************************Text link**************************/
a,
a:visited {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

/**********************************************************************/
/*header*/
/**********************************************************************/
.header_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 66px;
  margin: 22px 0 12px 0;
}
.header_container .title_img {
  width: 165px;
}

/**********************************************************************/
/*Menu*/
/**********************************************************************/
.location_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  gap: 18px;
  background-color: #e5e5e2;
  border-top: 5px solid #dcdcd9;
}

.view_container {
  margin: 0 auto;
  padding: 45px 5% 55px 5%;
  background-color: #f3f3f0;
}
.view_container .title_homepage {
  padding: 0 20px;
}
.view_container .button_homepage {
  color: #fcfcfa;
  font-size: 16px;
  font-weight: 500;
  width: 225px;
  height: 50px;
  border: none;
  border-radius: 50px;
  margin: 0 auto;
  box-shadow: 2px 5px 8px #dcdcd9;
  background: linear-gradient(to top, #9356dc, #ff69da);
  cursor: pointer;
}

.functioning_container {
  text-align: left;
  width: 89%;
  margin: 0 auto;
  padding: 53px 0 70px 10px;
}
.functioning_container .functioning_wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 33px;
}
.functioning_container .functioning_wrapper .functioning_card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: normal;
  gap: 24px;
  background-color: #f3f3f0;
  width: 100%;
  height: 75px;
  border-radius: 20px;
  padding-left: 35px;
  box-shadow: 2px 5px 8px #cccccc;
  transition: 0.4s ease;
  cursor: pointer;
}
.functioning_container .functioning_wrapper .functioning_card .functioning_icone {
  color: #716c6c;
  transition: 0.2s ease;
}
.functioning_container .functioning_wrapper .functioning_card:hover {
  background-color: #f1ecf8;
}
.functioning_container .functioning_wrapper .functioning_card:hover:hover .functioning_icone {
  color: #9356dc;
}
.functioning_container .functioning_wrapper .functioning_card .circle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  color: #f3f3f0;
  background-color: #9356dc;
  border-radius: 100%;
  transform: translateX(-45px);
}

.restaurant_container {
  background-color: #f3f3f0;
  padding: 50px 0 63px 0;
}
.restaurant_container .restaurant_card_wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 30px 0 0 0;
}
.restaurant_container .restaurant_card_wrapper .restaurant_card {
  position: relative;
  text-align: left;
  width: 90%;
  height: 250px;
  background-color: #fcfcfa;
  border-radius: 15px;
  margin: 0 auto;
  box-shadow: 2px 5px 8px #cccccc;
}
.restaurant_container .restaurant_card_wrapper .restaurant_card .new_card {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #087157;
  background-color: #99e2d0;
  border-radius: 4px;
  width: 80px;
  height: 28px;
  top: 15px;
  right: 15px;
}
.restaurant_container .restaurant_card_wrapper .restaurant_card .restaurant_img {
  width: 100%;
  height: 175px;
  border-radius: 15px 15px 0 0;
}
.restaurant_container .restaurant_card_wrapper .restaurant_card .card_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 25px 0 15px;
}
.restaurant_container .restaurant_card_wrapper .restaurant_card .card_wrapper .icone_wrapper {
  cursor: pointer;
}
.restaurant_container .restaurant_card_wrapper .restaurant_card .card_wrapper .icone_wrapper .fullheart {
  display: none;
}
.restaurant_container .restaurant_card_wrapper .restaurant_card .card_wrapper:hover .fullheart {
  display: block;
  color: #9356dc;
}
.restaurant_container .restaurant_card_wrapper .restaurant_card .card_wrapper:hover .emptyheart {
  display: none;
}

<<<<<<< HEAD
.main_restaurant {
  position: relative;
  background-color: #f3f3f0;
}
.main_restaurant .restaurant_image {
  width: 100%;
  height: 255px;
}
.main_restaurant .restaurant_image .restaurant_img {
=======
main {
  position: relative;
  background-color: #f8f8f7;
}
main .restaurant_image {
  width: 100%;
  height: 255px;
}
main .restaurant_image .restaurant_img {
>>>>>>> 4dc3bad6de474ff13ad0b97363fcaf2869299f68
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 255px;
  left: 0px;
  top: 0px;
}
<<<<<<< HEAD
.main_restaurant .menu_container {
=======
main .menu_container {
>>>>>>> 4dc3bad6de474ff13ad0b97363fcaf2869299f68
  position: relative;
  z-index: 2;
  text-align: left;
  width: 100%;
<<<<<<< HEAD
  background-color: #f3f3f0;
=======
  background-color: #f8f8f7;
>>>>>>> 4dc3bad6de474ff13ad0b97363fcaf2869299f68
  border-radius: 20px 20px 0 0;
  padding: 40px 5% 0 5%;
  top: -50px;
}
<<<<<<< HEAD
.main_restaurant .menu_container .title_wrapper {
=======
main .menu_container .title_wrapper {
>>>>>>> 4dc3bad6de474ff13ad0b97363fcaf2869299f68
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}
<<<<<<< HEAD
.main_restaurant .menu_container .title_menu {
  position: relative;
}
.main_restaurant .menu_container .title_menu:after {
=======
main .menu_container .title_menu {
  position: relative;
}
main .menu_container .title_menu:after {
>>>>>>> 4dc3bad6de474ff13ad0b97363fcaf2869299f68
  position: absolute;
  content: "";
  width: 40px;
  height: 4px;
  background: #99e2d0;
  left: 0px;
  top: 22px;
}
<<<<<<< HEAD
.main_restaurant .menu_container .food_container {
=======
main .menu_container .food_container {
>>>>>>> 4dc3bad6de474ff13ad0b97363fcaf2869299f68
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 20px 0;
}
<<<<<<< HEAD
.main_restaurant .menu_container .food_container .menu_card {
=======
main .menu_container .food_container .menu_card {
>>>>>>> 4dc3bad6de474ff13ad0b97363fcaf2869299f68
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  height: 68px;
  border-radius: 15px;
  background-color: #fcfcfa;
  padding: 0 15px;
  box-shadow: 2px 5px 8px #cccccc;
  cursor: pointer;
}
<<<<<<< HEAD
.main_restaurant .menu_container .food_container .menu_card .check {
  display: none;
}
.main_restaurant .menu_container .menu_button {
=======
main .menu_container .food_container .menu_card .check {
  display: none;
}
main .menu_container .menu_button {
>>>>>>> 4dc3bad6de474ff13ad0b97363fcaf2869299f68
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fcfcfa;
  font-size: 16px;
  font-weight: 500;
  width: 225px;
  height: 50px;
  border: none;
  border-radius: 50px;
  margin: 0 auto;
  box-shadow: 2px 5px 8px #dcdcd9;
  background: linear-gradient(to top, #9356dc, #ff69da);
  cursor: pointer;
  width: 186px;
  margin-top: 20px;
}

/**********************************************************************/
/*footer*/
/**********************************************************************/
footer {
  text-align: left;
  background-color: #2b282b;
  padding: 30px 30px 50px 30px;
}
footer .footer_wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
footer .footer_wrapper .flex_wrapper {
  display: flex;
  gap: 10px;
  /*for align the 2 flex_wrapper*/
}
footer .footer_wrapper .flex_wrapper .footer_i {
  width: 20px;
}/*# sourceMappingURL=index.css.map */